<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <app-pricecard class="col-lg-4"
      [plan]="plan[0].plan"
      [price]="plan[0].price"
      [user]="plan[0].user"
      [storage]="plan[0].storage"
      [projects]="plan[0].projects"
      [phone]="plan[0].phone"
      [subdomain]="plan[0].subdomain"
      [unlimited]="plan[0].unlimited"
      [monthly]="plan[0].monthly"
      [button]="plan[0].button"
      ></app-pricecard>
      <app-pricecard class="col-lg-4"
      [plan]="plan[1].plan"
      [price]="plan[1].price"
      [user]="plan[1].user"
      [storage]="plan[1].storage"
      [projects]="plan[1].projects"
      [phone]="plan[1].phone"
      [subdomain]="plan[1].subdomain"
      [unlimited]="plan[1].unlimited"
      [monthly]="plan[1].monthly"
      [button]="plan[1].button"
      ></app-pricecard>
      <app-pricecard class="col-lg-4"
      [plan]="plan[2].plan"
      [price]="plan[2].price"
      [user]="plan[2].user"
      [storage]="plan[2].storage"
      [projects]="plan[2].projects"
      [phone]="plan[2].phone"
      [subdomain]="plan[2].subdomain"
      [unlimited]="plan[2].unlimited"
      [monthly]="plan[2].monthly"
      [button]="plan[2].button"
      ></app-pricecard>
    </div>
  </div>
</section>

