
  <div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{plan}}</h5>
      <h6 class="card-price text-center">{{price}}<span class="period">/-month</span></h6>
      <hr>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{user}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{storage}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
        <li [class]="projects[0]"><span class="fa-li"><i [class]="projects[1]"></i></span>Unlimited
          Private Projects</li>
        <li [class]="phone[0]"><span class="fa-li"><i [class]="phone[1]"></i></span>Dedicated
          Phone Support</li>
        <li [class]="subdomain[0]"><span class="fa-li"><i [class]="subdomain[1]"></i></span>{{unlimited}}Free Subdomain
        </li>
        <li [class]="monthly[0]"><span class="fa-li"><i [class]="monthly[1]"></i></span>Monthly Status
          Reports</li>
      </ul>
      <div class="d-grid">
        <a href="#" class="btn btn-primary text-uppercase">{{button}}</a>
      </div>
    </div>
  </div>
